graphite-server.json
[{"id":"75d1c6ef.6dd0f8","type":"tcp in","z":"b23608a1.6fb8d8","name":"","server":"server","host":"","port":"2003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":91,"y":135,"wires":[["d7bb9fe0.65751"]]},{"id":"860bdc44.b4d09","type":"debug","z":"b23608a1.6fb8d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1314,"y":386,"wires":[]},{"id":"d7bb9fe0.65751","type":"split","z":"b23608a1.6fb8d8","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":232,"y":136,"wires":[["ba04a40e.d782b8"]]},{"id":"ba04a40e.d782b8","type":"switch","z":"b23608a1.6fb8d8","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":374,"y":138,"wires":[["da2bd216.7fa4e"],["20e43e1e.0d5d82"],["cbb44ffb.6b8e2"]]},{"id":"da2bd216.7fa4e","type":"change","z":"b23608a1.6fb8d8","name":"Handle key","rules":[{"t":"set","p":"topic","pt":"msg","to":"topic","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":546,"y":110,"wires":[["7ec6aca5.d85dc4"]]},{"id":"8747f7d9.f35a18","type":"change","z":"b23608a1.6fb8d8","name":"Handle timestamp","rules":[{"t":"set","p":"topic","pt":"msg","to":"timestamp","tot":"str"},{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":637,"y":217,"wires":[["7ec6aca5.d85dc4"]]},{"id":"bc5e4cc3.a7d28","type":"join","z":"b23608a1.6fb8d8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":835,"y":197,"wires":[["557af34e.938c3c"]]},{"id":"20e43e1e.0d5d82","type":"change","z":"b23608a1.6fb8d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":536,"y":147,"wires":[["7ec6aca5.d85dc4"]]},{"id":"7ec6aca5.d85dc4","type":"change","z":"b23608a1.6fb8d8","name":"NOOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":771,"y":143,"wires":[["bc5e4cc3.a7d28"]]},{"id":"557af34e.938c3c","type":"change","z":"b23608a1.6fb8d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.topic","tot":"msg"},{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"delete","p":"_session","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"},{"t":"delete","p":"ip","pt":"msg"},{"t":"delete","p":"port","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":262,"wires":[["ee95e4b4.ccd9d8"]]},{"id":"313665d5.3b8b1a","type":"ui_chart","z":"b23608a1.6fb8d8","name":"","group":"9fe73c4.77369c","order":1,"width":0,"height":0,"label":"MIMIC End-to-end latency (usec)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1370,"y":214,"wires":[[],[]]},{"id":"ee95e4b4.ccd9d8","type":"change","z":"b23608a1.6fb8d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"},{"t":"set","p":"timestamp","pt":"msg","to":"$number(timestamp)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1066,"y":327,"wires":[["860bdc44.b4d09","313665d5.3b8b1a"]]},{"id":"cbb44ffb.6b8e2","type":"change","z":"b23608a1.6fb8d8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\\r","fromt":"re","to":"000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":431,"y":216,"wires":[["8747f7d9.f35a18"]]},{"id":"89d2657e.7c2e58","type":"inject","z":"b23608a1.6fb8d8","name":"Clear chart","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1058,"y":66,"wires":[["313665d5.3b8b1a"]]},{"id":"8a5987fd.8b4ef8","type":"comment","z":"b23608a1.6fb8d8","name":"NODE-RED Graphite server (c) 2018 Gambit Communications, Inc (double-click for copyright)","info":"Copyright (c) 2018 Gambit Communications, Inc.\nDistributed under GNU GPL\nhttps://www.gnu.org/licenses/gpl.html\n\n\nThis flow acts like a Graphite server to graph time series.\n\nComments in the flow have more details. Double-click\nto display.\n","x":471,"y":57,"wires":[]},{"id":"9fe73c4.77369c","type":"ui_group","z":"","name":"","tab":"d705aefd.600068","order":3,"disp":true,"width":"18","collapse":false},{"id":"d705aefd.600068","type":"ui_tab","z":"","name":"Broker Latency","icon":"dashboard"}]